/*  general */

#btn{
    width: 72.5%;
    padding-left: 5px;
    padding-right: 5px;
}
#todoCards{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#todoCard{
    margin-right: 20px;
    padding: 20px;
    display: flex;
}
.todoCard > *{
    margin: 3px;
}
.delBtn{
    position: relative;
}

.delBtn i{
    position: absolute;
    margin-bottom: 9px;
    margin-right: 8px;
    bottom: 0px;
    right: 0px;
}
